image: jangrewe/gitlab-ci-android

stages:
- build

before_script:
- export GRADLE_USER_HOME=$(pwd)/.gradle
- chmod +x ./gradlew
- echo $PRIVATE_PROPERTIES > ./app/private.properties
- echo $GOOGLE_PLUGIN > ./app/google-services.json

stages:
  - build
  - test

cache:
  key: ${CI_PROJECT_ID}
  paths:
  - .gradle/

build:
  stage: build
  script:
    - ./gradlew app:assembleDeveloperDebug
  artifacts:
    expire_in: 1 year
    paths:
    - app/build/outputs/


unitTests:
  stage: test
  script:
    - ./gradlew app:test
  artifacts:
    untracked: true
    expire_in: 1 week
    when: on_failure

after_script:
 - rm ./app/private.properties
 - rm ./app/google-services.json
