name: Android CI

on:
  pull_request:

jobs:

  check:
    name: Basic Checks

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      # Needed to avoid a crash caused by incompatible NDK version in ubuntu-latest
      - name: Uninstall NDK
        run: sudo ${ANDROID_HOME}/tools/bin/sdkmanager --uninstall `ndk-bundle`

      - name: Copy Google Services JSON
        run: echo ${{ secrets.GOOGLE_SERVICES_JSON }} | base64 -d >> app/google-services.json

      - name: Assemble Full Debug
        run: ./gradlew :app:assembleFullDebug

      - name: Unit Test Full Debug Variant
        run: ./gradlew :app:testFullDebugTest