name: Android CI

on:
  pull_request:

jobs:

  cancel_previous:
    name: Cancel Previous Runs
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

  check:
    name: Basic Checks

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      # Needed to avoid a crash caused by incompatible NDK version in ubuntu-latest
      - name: Uninstall NDK
        run: sudo ${ANDROID_HOME}/tools/bin/sdkmanager --uninstall `ndk-bundle`

      - name: Copy Google Services JSON
        run: echo ${{ secrets.GOOGLE_SERVICES_JSON }} | base64 -d >> app/google-services.json

      - name: Full build
        run: ./gradlew buildFullRelease